services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_USER: flask_auth
      MYSQL_PASSWORD: example
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: flask_auth
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
